*{
    margin: auto;
}

body{
    background-image: url('/img/pexels-708440.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    justify-items: center;
    align-items: center;
}

#tempcontainer{
    display: flex;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 5px 20px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #62d5b4;
    border-radius: 15px;
}
#numTemperature{
    margin-left: 10px;
    padding-right: 10px;
}

.container{
    width: 40%;
    justify-items: center;
    padding: 120px 100px;
}

#title{
    padding: 30px;
    text-align: center;
    color:gray
}
#jokeBox{
    width: 80%;
    padding: 30px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}
#next{
    margin: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #62d5b4;
    border: 3px solid #317373;
    border-radius: 15px;
    color: aliceblue;
}
#next:hover{
    background-color: aliceblue;
    border: 3px solid #317373;
    color: #62d5b4;
    transition: 0.3s;
}
#opinion{
    text-align: center;
    font-size: 5;
    margin-left: 50%;
    transform: translateX(-50%);  
    box-sizing: border-box; 
    width: 300px;
    height: 100px;
}
.faces{
    font-size: 3em;
    border: hidden;
    background: none;
    box-sizing: border-box; 
    transition: 0.5s;
    width: 80px;
    height: 90px;
}
.faces:hover{
    font-size: 3.5em;
}